@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

@theme {
    --breakpoint-*: initial;
    --breakpoint-main-1: 550px;
    --breakpoint-main-2: 500px;
    --breakpoint-main-3: 460px;
}

* {
    font-family: "Rubik", sans-serif;
}

button {
    @apply cursor-pointer;
}

h1,
h2,
h3 {
    @apply font-bold;
}